<!DOCTYPE html>
<html>
  <head>
    <title> Caesars Cipher </title>
    </head>

  <body>
    <p> Enter String and shift amount </p>
    <form>
        <input type= 'text' name= 'string' />
        <input type= 'number' name = 'shift'/>
        <input type='submit' value= 'Cipher' />
  </form>
    <% if string != "" %>
    <p>The ciphered phrase is: <b><%= string %></b></p>
    <% end %>
  </body>
</html>